@use "../../scss/colors.scss";

.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;

  margin-top: 82px;

  svg {
    fill: colors.$background-gray-400;
    min-width: 20px;
  }

  li a:hover {
    svg {
      fill: colors.$text-pink-600;
    }
  }
}
